.container
{
  margin:0 auto;
  padding:0 3rem;

  max-width: 1180px;
  text-align: center;
}

body{
  background-color:#252529;
  color:#fff;
  line-height:1.6;
}

img{
  width:100%;

}
.section h3{
  font-size: 2rem;
}

/* 
.lead{
  font-size: 1.3rem;
} */

.btn {
  padding: 1rem;
  color: #fff;
  display: inline-block;
}

.btn-secondary {
  background: blue;
}

.bg-light{
  background: white;

  color: #333;
}

section #entertainment{
  background: url('section-bg.jpg') no-repeat bottom/cover;
  padding: 10rem 0;
}

li {
  list-style-type: none;
 
}

@media screen and (max-height: 768px) {
  #showcase p.lead {
    display: none;
  }

  .new
  {
    display:none;
  }
}

.section
{
  padding:2rem 0;
}

.section-head
{
  font-size:
}

#showcase h1{
  font-size: 4rem;
  margin-bottom: 0;
}

#showcase h2{
  font-size:2rem;
}
#showcase{
  margin:0;
  padding:0;
  background:url('img.jpeg') no-repeat center/cover;
  width: 100%;
  height:100vh;
  position : relative;
  overflow-y: hidden;
}

#showcase .container{
  margin-top:25vh;
}


